
{%load static %}
html {
    scroll-behavior: smooth;
    
  }

body{
    background-color:black;
    color: white;
    line-height:1;
    font-family: 'Montserrat', sans-serif;
}






#nav-bar{
  height: 4vw;
  background-color: black;
  width: 99vw;
}
#alcher-logo{
  margin-left: 11.1vw;
  margin-top: 1.2vw;
  width: 1.5vw;
  /* height: 1.5vw; */
}
#pd{
  position: relative;
  top: 0.5vw;
  font-family: 'lato';
  font-weight: 7000;
  font-size: xx-large;
}
/* .nav-objects{
  position: relative;
  top: 0.6vw;
} */
.nav-objects a{
  color:  #cccccc;
  text-decoration: none;
}
#nav-bar div{
  display: inline-block;
}
#about-us{
  margin-left: 22vw;
}
.left-margin{
  margin-left: 4vw;
}
#register{
  color: black;
  text-align: center;
  padding-top: 6px;
  /* padding-left: 1%; */
  padding-right: 0.4%;
  padding-bottom: 10px;
  width: 8vw;
  height: 16px;
  background: #FFD601;
  border-radius: 33px;
  font-size: 1vw;
  font-weight: 600;
  margin-top: 6px;
  font-family: 'lato';
  margin-left: 2%;
}
#reg{
  color: black;
}
#image{
  background-size: cover;
  width: 99vw;
  height: 40vw;
  overflow: hidden;
}
#inner-image1{
  position: relative;
  top: 20%;
  left: 11%;
}
.inner-text{
  position: relative;
  top: 23%;
  left: 11.1%;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 3.66vw;
}
#inner-text2{
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  position: relative;
  top: 10.6vw;
  left: 11vw;
  font-size: 1.11vw;
}
#register-button{
  color: black;
  text-align: center;
  padding-left: 0.5vw;
  padding-top: 10px;
  padding-right: 0.5%;
  padding-bottom: 5px;
  width: 9vw;
  height: 2.35vw;
  background: #FFD601;
  border-radius: 33px;
  font-size: 1.5vw;
  font-weight: 550;
  margin-top: 6px;
  font-family: 'lato';
  margin-left: 2%;
  position: relative;
  top: 12.65vw;
  left: 9vw;
}

















nav{
    
        background-position: center;
        background-size:100% 100%;
        text-align:center;
    
}
    
nav h1{
        text-align:center;
        margin-top:10vh;
    }
nav p{
        text-align:center;
        margin-top:10vh;
        margin:10vh auto  0 auto;
        width:60%;

    }
  #IITG_White{
    float:left;
    height:5vw;
    

  }
  #Full_White{
    float:right;
    height:4vw;
}
  
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    
    color: white;
  }


@media only screen and (min-width: 800px) {
#IITG_White{
    float:left;
}
#Full_White{
    float:right;
}
.topnav {
    display:none;
}
nav h1{
    text-align:left;
}
nav{
    padding: 2%;
    
    width: 100%;
    background-image:url("images/Untitled-2@2x.png");
    background-size: cover;
}
nav .organise{
    margin-top:4vh;
    
}
nav section p{
    text-align:right;
    font-size: 1.5vw;
    margin-top:6vh;
}
nav ul{
    margin-top:5%;
}

ul{
    
    
}
a{
    text-decoration: none;
    color: white;
  
}
a:hover{
    color:grey;
}
li{
    list-style: none;
}
#toregister{
    background-color:#0DFF56;
    border-radius:100px;
    padding-right:0.8vw;
    padding-left:0.8vw;
}
#about{
    
}
#about p{
 text-align:right;
 font-size:1.5vw;
 margin-top:6vw;
}
#about span{
    text-align:right;
    font-size:4vw;
   }
.rect1{
    height: 17vw;
    width: 45%;
    background-color: #1e1e1e;
    position: relative;
    bottom: 20vw;
    z-index: -1;
}
.organise{
    margin:auto;
    width:70%;
}

#about{
    margin-top:10%;
}
#hightlights p{
 text-align:right;
 font-size:1.5vw;
 margin-top:5vw;
}
.titlecontainerright {
    text-align:right;
    font-size:3.5vw;
    margin-top:15vw;
    margin-bottom:6vw;
   }
.rect2{
    height: 17vw;
    width: 45%;
    background-color: #1e1e1e;
    position: relative;
    bottom:26vw;
    z-index: -1;
    float:right;
}
#hightlights{
   
}
#highlightscontent{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    margin:11vh auto 0 auto;
    
}

#highlightscontent div{
    padding:1vw 4vw;
    text-align:center;
    
}
#highlightscontent img{
    width:5.5vw;
    height:5.5vw;
}
td{
    padding-right:5vw;
  padding-left:5vw;
}
.rect3{
    height: 17vw;
    width: 45%;
    background-color: #1e1e1e;
    position: relative;
    bottom: 23vw;
    z-index: -1;
    float:left;
}

.titlecontainerleft {
    text-align:left;
    font-size:4vw;
    margin-top:15vw;
    margin-bottom:6vw;
   }

   .rect4{
    height: 17vw;
    width: 45%;
    background-color: #1e1e1e;
    position: relative;
    bottom: 17vw;
    z-index: -1;
    float:right;
}
#registercontainer{
margin-top:1vw; 
margin-left:38vw;
    
}

#registerbutton{
    background-color:#0DFF56;
    border-radius:50px;
    padding:0.6vw 3vw 0.6vw 3vw;
    color:white;
    border:none;
    
}


#registrationbox{
    width:100%;
    height:100%;
    background-color:green;
    
    position:absolute;
    top:0;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #111111;
    margin: auto;
    padding: 20px;
    
    width: 40vw;
    border-radius:50px;
  }
  
  /* The Close Button */
  .close {
    color:white;
    float: right;
    font-size:1vw ;
    vertical-align: super;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
#registertitle{
    margin-left:11vw;
    font-size:1.5vw;
    margin-bottom:15vw;
    
}


.modal-content ul{
display:flex;
list-style:none;
}

.modal-inside{
    padding:1vw 3vw 1vw 3vw;
}


.modal-list2-active{
    padding:1vw 1vw 1vw 1vw;
   
    
    font-weight:bold;
    border-bottom:0.1vw solid #0DFF56;
}  

.modal-list2-inactive{
    padding:1vw 1vw 1vw 1vw;
   
    
    font-weight:bold;
    
}

.modal-list1-active{
    padding:1vw 3vw 1vw 3vw;
    
    margin-right:5vw;
    border-bottom:0.1vw solid #0DFF56;
    font-weight:bold;
}

.modal-list1-inactive{
    padding:1vw 3vw 1vw 3vw;
    
    margin-right:5vw;
    
    font-weight:bold;
}

#modal-list2-active {
    padding:1vw 2vw 1vw 2vw;
    
    border-bottom:0.2vw solid #0DFF56;
}

.rect5{
    height: 17vw;
    width: 45%;
    background-color: #1e1e1e;
    position: relative;
    bottom: 35vw;
    z-index: -1;
    float:left;
}

#footer{
    width:100%;
    
    background-color:#1e1e1e;
    text-align:center;
}
/* Style inputs, select elements and textareas */

  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #0DFF56;
    color: white;
    padding: 0.8vw 1vw;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
    margin-left:13vw;
    width:10vw;
    font-size:0.9vw;
  }
  
  /* Style the container */
  .container {
    
   
    padding: 20px;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  form td{
      padding:0.5vw 1vw 0.5vw 1vw;
  }

  input[type=text], select, textarea{
    width: 15vw;
    margin-left:1vw;
    padding: 0.4vw 1.5vw 0.4vw 1.5vw;
    font-size:0.8vw;
    text-align:center;
    background-color:#2C2c2C;
    border-radius: 0.5vw;
    height:2.5vw;
    box-shadow:0 0;
    border: none;
    
  }

  #adjudicator-registration{
      display:none;
  }

}